In [1]:
#discarded
#Visually show the fund prices.

title = 'Portfolio Fund Net Asset Value History'
#Get the stocks
my_stocks = df
#Create and plot the graph
plt.figure(figsize=(12.2,4.5)) #width = 12.2in, height = 4.5
# Loop through each stock and plot the Fund Net Asset Value for each day
for c in my_stocks.columns.values:
  plt.plot("Security",,label=c)#plt.plot( X-Axis , Y-Axis, line_width, alpha_for_blending,  label)
plt.title(title)
plt.xlabel('Date',fontsize=18)
plt.ylabel('NAV Price HKD ($)',fontsize=18)
plt.legend(my_stocks.columns.values, loc='upper left')
plt.show()

SyntaxError: invalid syntax (<ipython-input-1-ff8668428010>, line 11)

In [ ]:
plt.plot(df.Security, .)

In [ ]:
funds = df(columns=[“AMRCBLF HK Equity”, “AMRCASF HK Equity”, “AMRDALF HK Equity”, “AMRCGRF HK Equity”, “AMRSGRF HK Equity”, “AMINAGP HK Equity”, “AMINASF HK Equity”, “AMINCAA HK Equity”, “AMINEUF HK Equity”, “AMIGBOF HK Equity”, “AMIHKCF HK Equity”, “AMIMCOF HK Equity”, “AMIT  R HK Equity”, “AMIT  R HK Equity”, “AMIT  R HK Equity”, “AMIT  R HK Equity”, “CLMTAGP HK Equity”, “CLMMBAF HK Equity”, “CLMTCOA HK Equity”, “CLMMGOF HK Equity”, “CLMMGRF HK Equity”, “CLHKEQF HK Equity”, “CLMPCOF HK Equity”, “CLREGEF HK Equity”, “CLREGUF HK Equity”, “PRIAGSD HK Equity”, “PRSSCOA HK Equity”, “PRIGLGC HK Equity”, “PRIHDSC HK Equity”, “PRILTAC HK Equity”, “PRILTGC HK Equity”, “PRICAPC HK Equity”, “PRASBON HK Equity”, “PRISTYC HK Equity”])

In [ ]:
x=df.drop(columns=["FUND_NET_ASSET_VAL"])
y=df["FUND_NET_ASSET_VAL"]

from sklearn.model_selection import train_test_split
train_test_split(x,y,test_size=0.2)
x_train,x_test,y_train,y_test=model.fit(x_train,y_train)
predictions=model.predict(x_test)

In [6]:
BOC_Asia = pd.read_csv("BOC-PRUDENTIAL%20ASIA%20EQUITY%20FUND.csv")

In [7]:
BOC_Asia.shape

(3462, 3)

In [8]:
BOC_Asia.info()
#count for FUND_TOTAL_ASSETS is 24 because it only has data once a month.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3462 entries, 0 to 3461
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   報價日期     3462 non-null   object
 1   賣出價(港元)  3462 non-null   float64
 2   買入價(港元)  3462 non-null   float64
dtypes: float64(2), object(1)
memory usage: 81.3+ KB

In [9]:
BOC_Asia.values

array([['3/10/2006', 10.0, 10.0],
       ['4/10/2006', 10.0, 10.0],
       ['5/10/2006', 10.0, 10.0],
       ...,
       ['20/10/2020', 16.0716, 16.0716],
       ['21/10/2020', 16.1737, 16.1737],
       ['22/10/2020', 16.1603, 16.1603]], dtype=object)

In [10]:
BOC_Asia.describe()

           賣出價(港元)      買入價(港元)
count  3462.000000  3462.000000
mean     12.741564    12.741564
std       1.876490     1.876490
min       6.537900     6.537900
25%      11.661600    11.661600
50%      12.833500    12.833500
75%      13.981600    13.981600
max      16.914800    16.914800

In [11]:
BOC_Asia.head

<bound method NDFrame.head of             報價日期  賣出價(港元)  買入價(港元)
0      3/10/2006  10.0000  10.0000
1      4/10/2006  10.0000  10.0000
2      5/10/2006  10.0000  10.0000
3      6/10/2006   9.9961   9.9961
4      9/10/2006   9.9586   9.9586
...          ...      ...      ...
3457  16/10/2020  15.9735  15.9735
3458  19/10/2020  16.0691  16.0691
3459  20/10/2020  16.0716  16.0716
3460  21/10/2020  16.1737  16.1737
3461  22/10/2020  16.1603  16.1603

[3462 rows x 3 columns]>

In [12]:
BOC_Asia.tail

<bound method NDFrame.tail of             報價日期  賣出價(港元)  買入價(港元)
0      3/10/2006  10.0000  10.0000
1      4/10/2006  10.0000  10.0000
2      5/10/2006  10.0000  10.0000
3      6/10/2006   9.9961   9.9961
4      9/10/2006   9.9586   9.9586
...          ...      ...      ...
3457  16/10/2020  15.9735  15.9735
3458  19/10/2020  16.0691  16.0691
3459  20/10/2020  16.0716  16.0716
3460  21/10/2020  16.1737  16.1737
3461  22/10/2020  16.1603  16.1603

[3462 rows x 3 columns]>

In [13]:
BOC_Asia.dtypes

報價日期        object
賣出價(港元)    float64
買入價(港元)    float64
dtype: object

In [16]:
BOC_Asia.dropna(axis="index",how="any")

            報價日期  賣出價(港元)  買入價(港元)
0      3/10/2006  10.0000  10.0000
1      4/10/2006  10.0000  10.0000
2      5/10/2006  10.0000  10.0000
3      6/10/2006   9.9961   9.9961
4      9/10/2006   9.9586   9.9586
...          ...      ...      ...
3457  16/10/2020  15.9735  15.9735
3458  19/10/2020  16.0691  16.0691
3459  20/10/2020  16.0716  16.0716
3460  21/10/2020  16.1737  16.1737
3461  22/10/2020  16.1603  16.1603

[3462 rows x 3 columns]